src/main/mule/troubleshooting_demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f058dd69-cf12-4991-b89d-5f7b1ad28e2d" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="troubleshooting_demoFlow" doc:id="1fd47c4a-a442-4826-898f-ef725d85930d" >
		<http:listener doc:name="Listener" doc:id="29fb0aa4-2878-4cdb-ad6c-4d003085789e" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="START" doc:id="8c9b1eea-9d33-490e-8647-b410f92287f9" message="START"/>
		<ee:transform doc:name="Transform Message" doc:id="5c91f1ab-0261-41d6-a2d3-c728ffd9301d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"name": "ABC",
	"designation" : "XYZ"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="END" doc:id="6ace138b-d355-4b0c-b94c-ce3dcafc6a47" message="#[payload]"/>
	</flow>
</mule>
